<div class="container">
<!-- Modal -->
<div class="modal fade"  id="elegantModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content form-elegant">
      <!--Header-->
      <div class="modal-header text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Sign in</strong></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closebutton>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mx-4">
        <!--Body-->
        <div class="md-form mb-5">
          <input type="text" name="username" #username class="form-control validate">
          <label data-error="wrong" data-success="right" for="username">Your User Name</label>
        </div>

        <div class="md-form pb-3">
          <input type="password" name="password" #password class="form-control validate">
          <label data-error="wrong" data-success="right" for="Form-pass1">Your password</label>
          <!-- <p class="font-small blue-text d-flex justify-content-end">Forgot <a href="#" class="blue-text ml-1">
              Password?</a></p> -->
        </div>

        <div class="text-center mb-3">
          <button type="button" class="btn btn-primary btn-block btn-rounded z-depth-1a" 
          (click)="login(username.value, password.value)">Log in</button>
        </div>

      </div>
      <!--Footer-->
    <div class="alert alert-danger" role="alert" *ngIf="message">
        {{ message }}

    </div>

    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Modal -->


</div>


